html {
	text-align: center;
	background-image: url('https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYXRoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#forecast-header {
	background-color: rgba(210, 210, 210, 0.5);
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 0.3em;
	border-radius: 0.2em;
	outline: 2px solid #000;
	position: relative;
	top: 24px;
}

#locationInput {
	padding: 0.5em;
	margin: 2em 1em;
	border-radius: 0.5em;
	border: 1px solid #000;
}

#locationSubmitButton {
	padding: 0.5em 1em;
	border-radius: 0.5em;
	border: 1px solid #000;
}

.weatherForecast {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 1em;
}

.forecastDay {
	outline: 2px solid #000;
	background-color: rgba(210, 210, 210, 0.5);
	border-radius: 0.5em;
	margin: 0.5vw;
	padding: 1em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.date {
	font-size: 1.5em;
}

.weatherDescription {
	font-size: 1.2em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weatherImage {
	border: 2px black solid;
	margin: 1em;
	border-radius: 0.5em;
	background-color: rgb(171, 171, 171);
}

@media only screen and (max-width: 560px) {
	html {
		background-image: none;
	}

	body {
		margin: 0;
	}

	#ForecastContainer {
		background-color: #50666a;
		background-image: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	#forecast-header {
		width: 80%;
	}

	.weatherForecast {
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		justify-content: center;
		align-items: center;
		padding: 1em;
		margin: 0;
		width: 80vw;
	}

	.forecastDay {
		background: url('https://images.unsplash.com/photo-1530908295418-a12e326966ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHdlYXRoZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60')
			no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: white;
	}

	.date {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 561px) and (max-width: 1299px) {
	html,
	body {
		height: 100%;
	}

	body {
		margin: 0;
	}

	#ForecastContainer {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#forecast-header {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		background-color: rgba(210, 210, 210, 0.5);
		padding: 0.3em;
		width: 80%;
	}

	.weatherForecast {
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
		justify-content: center;
		align-items: center;
		padding: 1em;
		margin: 0;
		width: 80vw;
	}

	.weatherForecast :last-child {
		grid-column-start: 2;
	}
}

@media only screen and (min-width: 1300px) {
	html {
		min-height: 100vh;
	}

	#ForecastContainer {
		min-height: 100vh;
	}
}
