#ForecastContainer {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2vw 2vh;
  padding: 2vw 2vh;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.forecastDay {
  outline: 1px solid #000;
  background-color: rgb(179, 174, 174);
}
